<?xml version="1.0" encoding="UTF-8"?>
<settings>
 <username test="hello :D">efault1</username>
 <width>1280</width>
 <height>720</height>
 <windowMode>0</windowMode>
 <vsync>0</vsync>
 <fps>0</fps>
 <globalVolume>100</globalVolume>
 <language>fr</language>
 <libGraphic>../../lib-Exo-Renderer/SDLOpenGL/libExoRendererSDLOpenGL</libGraphic>
 <libAudio>../../lib-Exo-Audio/OpenAL/libExoAudioOpenAL</libAudio>
 <servers>
  <server>
   <name>local</name>
   <ip>localhost</ip>
   <port>30130</port>
  </server>
 </servers>
</settings>
